<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button 
      slot="start" 
      [defaultHref]="appRoutes.tabnav.entry+'/'+appRoutes.tabnav.home"
    ></ion-back-button>
    <ion-title>Pet QrCode</ion-title>
    @if (showScan) {
      <ion-button slot="end" (click)="startScan()" >Scan</ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>About</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ⚡️ Scan the pet Qr Code to register or view pet Profile.
      </ion-card-content>
      <!-- <ion-row class="ion-no-padding">
        <ion-col>
          <ion-button
            fill="clear"
            class="ion-float-right"
            >GitHub</ion-button
          >
        </ion-col>
      </ion-row> -->
    </ion-card>
    <!-- @if (showCode) { -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Code</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <div #canvas></div>
        <ion-textarea [value]="qrcodeScanResult" readonly ion-auto-grow>
        </ion-textarea>

        <div>
          <ion-button>Register</ion-button>
          <ion-button>View Profile</ion-button>
          <ion-button
            routerLink="/pets/new-pet/"
          >Protect Your Pet.</ion-button>
        </div>

      </ion-card-content>
    </ion-card>
  <!-- } -->
</ion-content>
