<!-- <form id="contact-form" (ngSubmit)="onSubmit()"> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Contact</ion-title>
      <ion-buttons slot="end">
        <ion-button type="submit" form="contact-form" [strong]="true">
          <ion-label>Save</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">

        <form 
          [formGroup]="contactForm!"
          id="contact-form"
          (ngSubmit)="onSubmit()"
          novalidate
        >
                
          <ion-item>
            <ion-toggle
              formControlName="mine"              
              [enableOnOffLabels]="true">Is this contact Yours?</ion-toggle>
          </ion-item>
  
          <ion-item>
            <ion-input
              label="Enter your name"
              labelPlacement="stacked"
              type="text"
              placeholder="Your name"
              formControlName="name"
            >
            <!-- <div slot="label">Name <ion-text color="danger">*</ion-text></div> -->
            </ion-input>
          </ion-item>
  
          <ion-item style="margin-bottom: 1rem; display: flex; align-items: center;">
            <ion-input
              label="Enter your email"
              labelPlacement="stacked"
              type="email"
              placeholder="Your email"
              formControlName="email"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            ></ion-input>
          </ion-item>   
          <app-error-message
              *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.['required']"
              message="Email is mandatory."
            ></app-error-message>       
            <app-error-message
              *ngIf="contactForm.controls.email.touched && contactForm.controls.email.invalid"
              message="Enter a valid email."
            ></app-error-message>

          <div style="padding-left: 16px;">
            <!-- <ion-label>Select your country</ion-label> -->
            <!-- <intl-telephone-input
              [preferredCountries]="[CountryISO.Brazil, CountryISO.UnitedStates]"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [separateDialCode]="true"
              [enableAutoCountrySelect]="true"
              [searchCountryField]="SearchCountryField.All"
              [phoneValidation]="true"
              [numberFormat]="PhoneNumberFormat.International"
              [inputId]="'phoneFormControl'"
              (onChange)="onInputChange($event)"
              phoneNumber="1122334455"
            >
            </intl-telephone-input> -->
            <!-- <ngx-intl-tel-input
              [cssClass]="'custom'"
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
              ]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.India"
              [maxLength]="15"
              [phoneValidation]="true"
              [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National"
              name="phone"
              formControlName="phone"
      >
            </ngx-intl-tel-input> -->
            <!-- <int-phone-prefix defaultCountry="br" formControlName="phone"></int-phone-prefix> -->
            <ngx-material-intl-tel-input 
              fieldControlName="phone" 
              [required]="true" 
              [autoIpLookup]="true"
              [enableSearch]="false"
              
            > </ngx-material-intl-tel-input>
          </div>
          

          <ion-item>
            <ion-toggle              
              formControlName="social"
              [enableOnOffLabels]="true">Is this a Whatsapp number?</ion-toggle> 
          </ion-item>  
        
          <ion-item>
            <ion-input
              label="Enter your instagram username"
              labelPlacement="stacked"
              type="text"
              pattern="^(@)(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$"
              placeholder="@username"
              maxlength="30"
              formControlName="instagram"            
            ></ion-input>
          </ion-item>
  
          <!-- <ion-item>
            <ion-input
              label="Enter your facebook username"
              labelPlacement="stacked"
              type="file"
              placeholder="Your facebook username"
              formControlName="facebook"            
            ></ion-input>
          </ion-item> -->
  
          <ion-item>
            <ion-input
              label="Enter your tiktok username"
              labelPlacement="stacked"
              type="text"
              pattern="^(@)(?!.*\.\.)(?!.*\.$)[^\W][\w.]{0,29}$"
              placeholder="@username"
              maxlength="24"
              formControlName="tiktok" 
            ></ion-input>
          </ion-item>          
          
        </form>
      </ion-col>
<ion-col size="12">
  <footer class="ion-text-center">
    <ion-button (click)="resetForm()" color="warning">Reset</ion-button>
  </footer>
  </ion-col>

  </ion-row>
  </ion-grid>

</ion-content>

<!-- </form> -->


<!-- <ion-modal  (willDismiss)="onWillDismiss($event)">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <ng-template>
    
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="end">
          <ion-button buttonType="submit" [strong]="true">Save</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      <ion-item>
        <ion-toggle checked="mine" [enableOnOffLabels]="true">Is this contact Yours?</ion-toggle>
      </ion-item>

      <ion-item>
        <ion-input
          label="Enter your name"
          labelPlacement="stacked"
          type="text"
          placeholder="Your name"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Enter your email"
          labelPlacement="stacked"
          type="email"
          placeholder="Your name"
          
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Phone number"
          labelPlacement="stacked"
          type="text"
          placeholder="Your name"
          
        ></ion-input> 
      </ion-item>

      <ion-item>
        <ion-toggle [enableOnOffLabels]="true">Is this a Whatsapp number?</ion-toggle> 
      </ion-item>  
      
      <ion-item>
        <ion-input
          label="Enter your instagram"
          labelPlacement="stacked"
          type="rul"
          placeholder="Your instagram"            
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Enter your name"
          labelPlacement="stacked"
          type="text"
          placeholder="Your name"            
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Enter your facebook"
          labelPlacement="stacked"
          type="text"
          placeholder="Your facebook"            
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Enter your tiktok"
          labelPlacement="stacked"
          type="text"
          placeholder="Your tiktok"            
        ></ion-input>
      </ion-item>      
    </ion-content>
  
  </ng-template>
  </form>
</ion-modal> -->
