<ion-card class="tutor-card">
  <ion-card-header>
    <ion-item detail="false">
      <ion-avatar slot="start" style="margin-left: -10px;">
        <img src="/assets/images/lebron-james.jpg" alt="speaker.name + ' profile picture'">
      </ion-avatar>
      <ion-label>
        <ion-label>Tutor: <strong>{{tutor.name}}</strong></ion-label>
      </ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    @for(contact of contacts; track $index) {
      <app-contact-card [contact]="contact"></app-contact-card>
    }
  </ion-card-content> 
  
</ion-card>
